$pureWhite:#ffffff;
$primary-pink:#FF7979;
$primary-green:#38CC8B;
$primary-purple:#5E54A4;
$primary-black:#3D3B48;

$mobile-heading-font:1.75rem;
$desktop-heading-font:3.12rem;
$main-text-font:1rem;
$secondary-text-font:0.93rem;
$input-text-font:0.87rem;
$footer-font:0.68rem;


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif; 
}

body{
  
   line-height: 1.6;
   background-color: $primary-pink;
   background-image: url('../asset/bg-intro-mobile.png');
   background-position: center;
}

.container{
    max-width: 88%;
    margin:auto;

  
}

.wrapper{
  max-width:88%;
  margin:auto;

  @media(min-width: 1200px)
  {
      display:flex;
      justify-content: center;
      //border:1px solid red;
      margin-top: 7.56rem;
      gap:2.8rem;
  }
}




.header{
    margin-top:5.5rem;
    
    h1{
      color:$pureWhite;
      font-size: $mobile-heading-font;
      font-weight: 700;
      line-height: 2.25rem;
      text-align: center;
    
    }
    p{
        color:$pureWhite;
        font-size: $main-text-font;
        line-height: 26px;
        font-weight:400;
        margin-top: 1rem;
        text-align: center;
        padding:0 1.2rem;
    }

    @media(min-width: 1200px)
    {
        //border:1px solid black;
        margin-top: 0;
       flex-basis: 525px;
       align-self: center;

        h1{
            font-size: $desktop-heading-font;
            line-height: 3.43rem;
            letter-spacing: -0.520833px;
            text-align: left;
        }

        p{
            padding:0;
            text-align: left;
            margin-top: 2rem;
        }
    }
}

.pricing-form-container{
    margin-top: 4rem;
    
    .pricing{
        background:$primary-purple;
        height: 5.5rem;
        border-radius:10px;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
        display:flex;
        align-items: center;
        justify-content: center;
        
        .content{
          width:194px;
         // border:1px solid blue;
         

          p{
              color:$pureWhite;
              font-size: 15px;
              text-align: center;
              line-height:26px ;
              font-weight: 300;
              letter-spacing: 0.27px;

              span{
                  font-weight: 600;
              }
          }
        }
        @media(min-width: 1200px)
        {
          height: 3.75rem;
          .content{
              width: 100%;
          }
        }
    }

    @media(min-width: 1200px)
    {
        margin-top: 3.5rem;
        flex-basis: 540px;
        align-self: flex-start;
    }
}

.signUp-form{
   background:$pureWhite;
   margin: 1.5rem 0 4.25rem 0;
   border-radius: 10px;
   box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
   padding:1.5rem;
   
   .input-text{
    border:1px solid #DEDEDE;
    border-radius: 5px;
    height:56px;
    width: 100%;
    padding:15px 20px;
    outline: none;
    color:$primary-black;
    font-size: $input-text-font;
    font-weight: 600;
    letter-spacing: 0.26px;
    
    &::placeholder{
      font-size: $input-text-font;
      color:$primary-black;
      font-weight: 600;
      letter-spacing: 0.25px;
      line-height: 26px;
      mix-blend-mode: normal;
       opacity: 0.75;
    }
    &:focus{
        border:1px solid $primary-purple;
    }
    
   }

   .input-error{
    border:2px solid $primary-pink;
    border-radius: 5px;
    height:56px;
    width: 100%;
    padding:15px 20px;
    outline: none;
    color:$primary-black;
    font-size: $input-text-font;
    font-weight: 600;
    letter-spacing: 0.26px;
    position: relative;
    
    &::placeholder{
      font-size: 0;
    }

    

   
  
}
   form{
    
    & :is(.input-text,.input-error)
    {
        margin-top:1rem;
    }

    button{
        border:none;
        outline: transparent;
        background:$primary-green;
        color:$pureWhite;
        padding:1.2rem 2rem;
        width:100%;
        border-radius: 5px;
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
        font-size:$secondary-text-font;
        font-weight: 600;
        letter-spacing: 1px;
        margin:1rem 0 0.5rem 0;
        transition:background 0.2s ease-out;

        &:hover{
            background:#77E2B3;
            cursor:pointer;
        }
        
    }

    .term-container{
       text-align: center;
        font-size: $footer-font;
        color:#BAB7D4;
        line-height: 21px;
        font-weight: 500;
        padding:0.5rem 1rem;
        span{
            color:$primary-pink;
            font-weight: 700;
        }
    }
}
   
   
}

.error-message{
    color:$primary-pink;
    font-size: 11px;
    line-height: 1rem;
    font-weight: 500;
    font-style: italic;
    text-align: right;
    margin:6px 0;
    
    
}

.input-container{
    position: relative;
    
    &::after{
        content:url("../asset/icon-error.svg");
        position:absolute;
        top:30px;
       right:27px;
       z-index: 2;
    
    }

}

.input-email-container{
   position:relative;

 
    &::before{
        content:"email@example/com";
        color:$primary-pink;
        font-weight: 600;
        font-size: $secondary-text-font;
        letter-spacing: 0.26px;
        position:absolute;
        top:30px;
        left:32px;
        z-index: 2;
    }  
 
    &::after{
        content:url("../asset/icon-error.svg");
        position:absolute;
        top:30px;
       right:27px;
       z-index: 2;
    
    }
}




